body {
    background-color: #D8F3C9; /* Pastel Color */
}

#store-name {
    color:#B96A9A; /*BLue Color*/
    font-family: Verdana;
    font-size:50px;
    margin-bottom: 100px;
    letter-spacing:10px;
}


#all-pets, #store-name {
    text-align:center;
}

.individual-pet p {
    font-size:25px;
    line-height : 50px;
    font-style:italic;
}

.individual-pet img {
    height:300px;
    width:400px;
    border-radius: 3%;
    
}

.individual-pet {
	margin-bottom: 100px;
}

.individual-pet h2 {
	color:#D889B8;
}